body {
  margin: 0;
  background-color: #000;
  color: #FFF;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-corner {
  background: rgba(0,0,0,0);
}

#main-window {
  display: none;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}

#main-menu {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-btn {
  border: 1px solid #FFF;
  background-color: #000;
  color: #FFF;
  outline: none;
  min-width: 500px;
  min-height: 60px;
  font-size: 18pt;
  margin: 8px 0px 8px 0px;
}

.menu-btn:hover {
  background-color: #444;
}

#r-back-btn {
  position: absolute;
  top: 2%;
  left: 2%;
}

#l-back-btn {
  position: absolute;
  top: 2%;
  left: 2%;
}

#input-block {
  display: inline-grid;
  margin: 18px 0 18px 0;
}

#register-window {
  text-align: -webkit-center;
  border: 1px solid #FFF;
  border-radius: 16px;

  display: none;
  position: absolute;

  width: 50%;
  min-width: 300px;

  height: 60%;
  min-height: 400px;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#register-submit {
  margin: 18px 0 18px 0;
}

#register-form {
  display: inline-grid;
  position: relative;
  top: 8%;
}

#login-window {
  text-align: -webkit-center;
  border: 1px solid #FFF;
  border-radius: 16px;

  display: none;
  position: absolute;

  width: 50%;
  min-width: 300px;

  height: 60%;
  min-height: 400px;

  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
}

#login-form {
  display: inline-grid;
  position: relative;
  top: 8%;
}

#login-submit {
  margin: 18px 0 18px 0;
}

#login-input-block {
  display: inline-grid;
  margin: 18px 0 18px 0;
}

#terminal-output {
  position: absolute;
  width: 79.8%;
  height: 96%;
  margin-left: 4px;
  margin-top: 4px;
  background-color: #000;
  overflow: scroll;
}

#terminal-input {
  background-color: #111;
  position: relative;
  top: 98%;
  width: 100%;
  height: 20px;
}

#terminal-msg {
  margin: 0;
}

#input-bar {
  background-color: #FFF;
  border: none;
  width: 100%;
  outline: none;
}

#sidebar {
  display: block;
  background-color: #000;
  border-left: 1px solid #fff;
  position: relative;
  width: 400px;
  height: calc(101vh);
}

#title-text {
  color: #F00;
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

